body {
    background-color: #0F8DBF;
}

h1, h2, h3, h4, h5, h6 {
    color:#F2D338
}

p, li, ul {
    color: #0D518C;
}

.menu {
    display: flex;
    font-family: 'Zen Dots', cursive;
    background-color: #071A40;
    border-radius: 14%;
    padding: 10px;
    margin: -8px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 3;
}

.menu li {
    display: inline;
    margin: 100px;
    color: #F2D338;
}

.menu ul {
    display: block;
    padding-left: 1px;
}

.imgperfil {
    position: absolute;
    float: initial;
    top: 150px;
    left: 50px;
    width: 300px;
    border-radius: 50%;
    z-index: 1;
}
.header {
    background-color: #72CEF2;
    border-width: 5px;
    border-style: solid;
    border-color: #071A40;
    border-radius: 5%;
    position: relative;
    z-index: 2;
    top: 150px;
    left: 450px;
    height: 220px;
    width: 500px;
    padding: 10px;
    text-align: justify;
    overflow: auto;
}

.habilidade {
    background-color: #72CEF2;
    background-color: #72CEF2;
    border-width: 5px;
    border-style: solid;
    border-color: #071A40;
    border-radius: 5%;
    padding: 1px;
    width: 300px;
    height: 350px;
    text-align: center;
    list-style-position: initial;
    margin: 500px;
    overflow: auto;
}

.contato {
    display: flex;
}

.contato li {
    display: inline;
    text-align: center;
    margin: auto;
}

.contato img {
    width: 50px;
}

.menu li:hover {
    color: #72CEF2;
    text-decoration: underline;
}

.menu li:active, .menu:visited {
    text-decoration: none;
}